@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

$colors:(buttons: #6a95f7, text-black_header: #090909, text-black:#080808, text-white:#ffffff,
 background-color:#ebebeb, search_grid-color:#ffc71d99, footer:#221f20);

@function color($color-name) {
 @return map-get($colors, $color-name)
}

$mobile:450px;

@mixin mobile {
 @media(max-width: #{$mobile}) {
  @content;
 }
}

* {
 box-sizing: border-box;
 font-family: 'Montserrat', sans-serif;
}

input,
select {
 outline: none;
}

a {
 text-decoration: none;
}

ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

body,
html {
 width: 100%;
 height: 100%;
 margin: 0;
}

h3,
p {
 margin: 0;
}

header,
main article {
 max-width: 1423px;
 margin: auto;
}

header {
 position: absolute;
 right: 0;
 left: 0;
 display: flex;
 margin: 35px auto 0;

 a {
  color: #ffffff;
  white-space: nowrap;
 }

 .logo {
  flex: 1;

  a {
   display: flex;
   align-items: center;
   padding: 1rem 2rem;
   width: 250px;
   height: 103px;
  }
 }

 .header-middle-area {
  display: flex;

  .main-nav {
   ul {
    display: flex;
    height: 35px;
    border-right: 1px solid #fff;

    li {
     margin-right: 35px;
     display: flex;

     a {
      margin: auto;
     }
    }
   }
  }
 }

 .login_reg {
  display: flex;
  height: 35px;

  a {
   margin: auto 0 auto 34px;
  }
 }
}

.section_top {
 background: rgb(47, 35, 173);
 background: linear-gradient(115deg, rgba(47, 35, 173, 1) 0%, rgba(207, 70, 156, 1) 100%);

 article {
  padding-top: 138px;
  display: flex;

  .content {
   * {
    color: #fff
   }

   max-width: 680px;
   margin:160px 8% 0 5%;

   h1 {
    font-size: 50px;
    margin: 0 0 25px;
   }

   p {
    font-size: 16px;
   }

   .buttons {
    margin-top: 40px;

    .btn-about {
     width: 180px;
     height: 40px;
     border-radius: 5px;
     background-color: #ffffff;
     color: #ee8c19;
     font-size: 15px;
     border: 0;
     margin-right: 30px;
    }

    .btn-download {
     width: 180px;
     height: 40px;
     border-radius: 5px;
     border: 1px solid #ffffff;
     font-size: 15px;
     background-color: transparent;
    }

    * {
     cursor: pointer;
     font-weight: 500;
    }
   }
  }

  .img {
   img {
    max-width: 530px;
    max-height: 886px;
   }
  }
 }
}

.section_guide {
 .button_bottom {
  background-image: url(img/bg.png);
  margin-top: -75px;
  height: 76px;
  z-index: 3;
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center;

  #scroll_down {
   position: absolute;
   margin: -20px auto 0;
   left: 0;
   right: 0;
   width: 40px;
   height: 40px;
   border-radius: 5px;
   background-color: #ffffff;
   background-image: linear-gradient(to top, #f07a13 0%, #f3a300 100%);
   cursor: pointer;
   outline: none;
   border: 0;

   &:before {
    font-family: "FontAwesome";
    content: "\f103";
    color: #ffffff;
    font-size: 16px;
   }
  }
 }

 .guide_content {
  h1 {
   color: #1a1a1a;
   font-size: 50px;
   width: 100%;
   text-align: center;
  }

  .guide_steps {
   display: flex;
   flex-wrap: wrap;

   img {
    height: 608px;
   }

   .step {
    display: flex;
    width: 50%;

    .step_text {
     width: 260px;

     p:nth-child(2) {
      color: #4d4d4d;
      line-height: 24px;
     }

     & p:first-child {
      color: #ff9225;
      font-family: "Love Ya Like A Sister";
      font-size: 26px;
      font-weight: 400;
      margin-bottom: 25px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(to top, #e55b00, #ff9800de);
     }

     &:first-letter {
      float: left;
      font-size: 70px;
      line-height: 54px;
      padding-top: 10px;
      padding-right: 20px;
      padding-left: 3px;
     }
    }

    &.first {

     .step_text {}

     img {
      transform: rotate(-20deg);
     }
    }

    &.second {
     margin-top: 180px;
     position: relative;

     .first_arrow {
      width: 99px;
      height: 106px;
      position: absolute;
     }

     .second_arrow {
      width: 88px;
      height: 120px;
      position: absolute;
      transform: scale(-1, 1);
      margin-top: 60%;
      margin-left: -25%;
     }

     .step_text {
      padding-top: 25%;
     }
    }

    &.third {
     margin-top: -100px;
     position: relative;

     .third_arrow {
      position: absolute;
      width: 152px;
      height: 119px;
      margin-left: 96%;
      margin-top: 36%;
     }

     .step_text {
      padding-top: 20%;
     }
    }

    &.fourth {
     margin-top: 260px;
     margin-left: -150px;

     .step_text {}

     img {
      margin-top: 60px;
      transform: rotate(-75deg);
     }
    }
   }

   h2 {
    color: #ff9225;
    font-family: "Love Ya Like A Sister";
    font-size: 40px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    margin: 60px 0 100px;
   }
  }
 }
}

.product-cost {
 height: 1120px;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
 background-color: #0a3145;
 background-image: linear-gradient(-45deg, #541593 0%, #2c1585 100%);

 .product-cost_header {
  display: flex;
  padding-top: 60px;

  * {
   color: #ffffff;
  }

  h1 {
   margin: 0 15px 0 0;
   font-size: 50px;
   font-weight: 700;
   line-height: 49px;
  }

  p {
   display: flex;
   align-items: flex-end;
   font-size: 15px;
   font-weight: 500;
   line-height: 25px;
  }
 }

 .cost-container {
  display: flex;
  margin-top: 120px;

  .cost-free {
   border-radius: 5px;
   background-color: #ffffff;
   margin-right: 20px;
   flex: 1;

   .cost-free_header {
    position: relative;
    border-bottom: 1px solid #f5b035;

    img {
     position: absolute;
     margin-top: -85px;
     margin-left: 35px;
    }

    .text-container {
     margin: 40px 0;
     display: inline-block;
     margin-left: 170px;

     p {
      color: #1a1a1a;
      font-size: 20px;
      font-weight: 700;
     }

     h1 {
      margin: 0;
      color: #1a1a1a;
      font-size: 40px;
     }
    }
   }

   .cost-free_top {
    padding: 50px 0;
    border-bottom: 1px solid #f5b035;

    * {
     text-align: center;
    }

    h1 {
     color: #1a1a1a;
     font-size: 40px;
     margin: 0;
    }

    p {
     font-weight: 700;
     font-size: 20px;
    }
   }

   .cost-free_main {
    padding: 40px 50px 50px;

    .free-features_list {
     margin-bottom: 110px;

     p {
      line-height: 40px;
      color: #4d4d4d;
      font-size: 16px;

      &:before {
       font-family: "FontAwesome";
       content: "\f00c";
       color: #f5b035;
       font-size: 15px;
       margin-right: 20px;
      }
     }
    }

    .download-links {
     p {
      color: #1a1a1a;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 25px;
     }

     .download-buttons {
      a:first-child {
       margin-right: 10px;
      }
     }
    }
   }
  }

  .cost_paid {
   flex: 2;
   border-radius: 5px;
   background-color: #ffffff;

   .cost-paid_header {
    position: relative;
    border-bottom: 1px solid #f5b035;

    &>img {
     position: absolute;
     margin-top: -85px;
     margin-left: 35px;
    }

    .text-container {
     margin: 40px 0;
     display: inline-block;
     margin-left: 170px;

     p {
      color: #1a1a1a;
      font-size: 20px;
      font-weight: 700;
     }

     h1 {
      margin: 0;
      color: #1a1a1a;
      font-size: 40px;
     }
    }
   }

   .cost-paid_top {
    padding: 25px 50px 20px;
    border-bottom: 1px solid #f5b035;
    display: flex;
    justify-content: flex-end;

    * {
     text-align: center;
    }

    .paid-top_left {
     width: 20%;

     p:first-child {
      margin-bottom: 40px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#e55b00), to(#ff9800de));
      background-image: linear-gradient(to top, #e55b00, #ff9800de);
      font-size: 20px;
      font-weight: 700;
     }

     p:nth-child(2) {
      color: #1a1a1a;
      font-size: 26px;
      font-weight: 700;
     }
    }

    .paid-top_right {
     width: 30%;
     display: flex;
     flex-direction: column;

     &>p:first-child {
      margin-bottom: 20px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#e55b00), to(#ff9800de));
      background-image: linear-gradient(to top, #e55b00, #ff9800de);
      font-size: 20px;
      font-weight: 700;
      width: 100%;
     }

     select {
      width: 130px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid #0a3145;
      margin: 0 auto 20px;
      color: #1a1a1a;
      font-size: 15px;
     }

     .price-discount {
      display: flex;

      .price {
       width: 50%;
       font-size: 26px;
       font-weight: 700;
       color: #1a1a1a;
       margin-left: 25px;
      }

      .discount {
       width: 50%;
       color: #2fa600;
       font-size: 15px;
       font-weight: 600;
       display: flex;
       align-items: flex-end;
       line-height: 25px;
       margin-left: -10px;
      }
     }
    }

    h1 {
     color: #1a1a1a;
     font-size: 40px;
     margin: 0;
    }
   }

   .cost-paid_main {
    padding: 40px 50px 30px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    .paid-features_list {
     width: 50%;

     p {
      line-height: 40px;
      color: #4d4d4d;
      font-size: 16px;
     }
    }

    .free-list,
    .paid-list {
     p {
      line-height: 40px;
      text-align: center;

      &:before {
       font-family: "FontAwesome";
       content: "\f00c";
       color: #f5b035;
       font-size: 15px;
      }

      &.miss {
       &:before {
        content: "\f00d";
        color: #c3c3c3;
       }
      }
     }
    }

    .free-list {
     width: 20%;
    }

    .paid-list {
     width: 30%;
    }

    .cost-paid_footer {
     width: 100%;
     margin-top: 30px;

     p {
      color: #1a1a1a;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 25px;
     }

     .download-buttons {
      display: flex;

      a {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 180px;
       height: 40px;
       border-radius: 5px;
       background-color: #ffffff;
       background-image: linear-gradient(to top, #f07a13 0%, #f3a300 100%);
       color: #ffffff;
       font-size: 15px;

       &:nth-child(2) {
        margin-left: 30px;
        border-radius: 5px;
        border: 1px solid #e15702;
        color: #e15702;
        background-image: unset;
       }
      }
     }
    }
   }
  }
 }
}